{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="main-slide" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<img class="d-block w-100" src="{% static 'assets/img/slider/slider-bg1.jpg' %}" alt="First slide">
<div class="carousel-caption d-md-block">
<h1 class="animated wow fadeInDown hero-heading" data-wow-delay=".3s"><u>Where To Stay?????????</u></h1>
<p class="animated fadeInUp wow hero-sub-heading" data-wow-delay=".14s">Frustrating question right!! Well where2stay provides you with the answer by connecting you to trusted and reliable landlords. </p>
</div>
</div>
<div class="carousel-item">
<img class="d-block w-100" src="{% static 'assets/img/slider/slider-bg2.jpg' %}" alt="Second slide">
<div class="carousel-caption d-md-block">
<h1 class="animated wow fadeInLeft hero-heading" data-wow-delay=".7s">Think in other Terms</h1>
<p class="animated wow fadeInRight hero-sub-heading" data-wow-delay=".9s">Stop getting scorched by the sun moving around looking for accommodation. Search for your ideal house to rent from the comfort of your home while drinking a glass of water.</p>
</div>
</div>
<div class="carousel-item">
<img class="d-block w-100" src="{% static 'assets/img/slider/slider-bg3.jpg' %}" alt="Third slide">
<div class="carousel-caption d-md-block">
<h1 class="animated wow fadeInDown hero-heading" data-wow-delay=".6s"></h1>
<p class="animated fadeInUp wow hero-sub-heading" data-wow-delay=".8s"></p>
</div>
</div>
</div>
<a class="carousel-control-prev" href="#main-slide" role="button" data-slide="prev">
<span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left" data-ripple-color="#F0F0F0"></i></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
<span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right" data-ripple-color="#F0F0F0"></i></span>
<span class="sr-only">Next</span>
</a>
</div>


<div class="search-button">
<div class="container">
<div class="row">
<div class="col-md-12 col-lg-12 col-xs-12">
<div class="search-bar">
<div class="search-inner">
<form class="search-form">
<div class="form-group inputwithicon">
<i class="lni-tag"></i>
<input type="text" name="customword" class="form-control" placeholder="What are you looking for?">
</div>
<div class="form-group inputwithicon">
<i class="lni-map-marker"></i>
<div class="select">
<select>
<option value="none">Locations</option>
<option value="none">New York</option>
<option value="none">California</option>
<option value="none">Washington</option>
<option value="none">Birmingham</option>
<option value="none">Chicago</option>
<option value="none">Phoenix</option>
</select>
</div>
</div>
<button class="btn btn-common" type="button"><i class="lni-search"></i> Search Now</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="featured section-padding">
<div class="container">
<h1 class="section-title">Latest Houses</h1>

<div class="row">
    {% for house in object_list %}
    {% if forloop.counter < 4  %}
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
<div class="featured-box">
<figure>
<div class="icon">
<span class="bg-green"><i class="lni-heart"></i></span>
<span><i class="lni-bookmark"></i></span>
</div>
<a href="{{ house.get_absolute_url }}"><img class="img-fluid" src="{{ house.front_image.url }}" alt=""></a>
</figure>
<div class="feature-content">
<div class="product">
<a href="#">Required Gender : {{ house.gender_required }}</a>
</div>
<h4><a href="{{ house.get_absolute_url }}">{{ house.address }}</a></h4>
<div class="meta-tag">
<span>
<a href="#"><i class="lni-map-marker"></i>{{ house.location }}</a>
</span>
 <span>
<a href="#"><i class="lni-user"></i>{{ house.landlord.landlordprofile.last_name }}</a>
</span>
</div>
<p class="dsc">There are {{ house.capacity }} vacant places available. The house is {{ house.distance_from_campus }}km away from campus.</p>
<div class="listing-bottom">
<h3 class="price float-left">${{ house.rent }}.00/month</h3>
<a href="{{ house.get_absolute_url }}" class="btn btn-common float-right">View Details</a>
</div>
</div>
</div>
</div>

    {% endif %}
     {% endfor %}
</div>
</div>
</section>



<section class="works section-padding">
<div class="container">
<div class="row">
<div class="col-12">
<h3 class="section-title">How It Works?</h3>
</div>
<div class="col-lg-4 col-md-4 col-xs-12">
<div class="works-item">
<div class="icon-box">
<i class="lni-users"></i>
</div>
<p>Create an Account</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-xs-12">
<div class="works-item">
<div class="icon-box">
<i class="lni-bookmark-alt"></i>
</div>
<p>Browse and Book House</p>
</div>
</div>
<div class="col-lg-4 col-md-4 col-xs-12">
<div class="works-item">
<div class="icon-box">
<i class="lni-thumbs-up"></i>
</div>
<p>Contact Landlord & Make Payment</p>
</div>
</div>
<hr class="works-line">
</div>
</div>
</section>

<section class="services section-padding">
<div class="container">
<div class="row">
<div class="col-12">
<h3 class="section-title">Key Features</h3>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="0.2s">
<div class="icon">
<i class="lni-leaf"></i>
</div>
<div class="services-content">
<h3><a href="#">Elegant Design</a></h3>
<p>Our platform is stylish in a graceful and unique way</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="0.4s">
<div class="icon">
<i class="lni-check-mark-circle"></i>
</div>
<div class="services-content">
<h3><a href="#">Verified Landlords</a></h3>
<p>We verify landlords to protect students from scammers.</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="0.6s">
<div class="icon">
<i class="lni-support"></i>
</div>
<div class="services-content">
<h3><a href="#">Student Support</a></h3>
<p>We 24 hour help and supports to our users.</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="0.8s">
<div class="icon">
<i class="lni-lock"></i>
</div>
<div class="services-content">
<h3><a href="#">Security</a></h3>
<p>Our platform is secure and ensures confidentiality to our user's data.</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="1s">
<div class="icon">
<i class="lni-thumbs-up"></i>
</div>
<div class="services-content">
<h3><a href="#">SRC Backing</a></h3>
<p>Our platform has full support from the Students Representative Council.</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-4 col-xs-12">
<div class="services-item wow fadeInRight" data-wow-delay="1.2s">
<div class="icon">
<i class="lni-stats-up"></i>
</div>
<div class="services-content">
<h3><a href="#">Advertisement</a></h3>
<p>Local businesses can advertise their products through our platform.</p>
</div>
</div>
</div>
</div>
</div>
</section>


<section id="pricing-table" class="section-padding">
<div class="container">
<div class="row">
<div class="col-12">
<h2 class="section-title">Pricing Plan</h2>
</div>
<div class="col-lg-4 col-md-6 col-xs-12">
<div class="table">
<div class="icon">
<i class="lni-star-empty"></i>
</div>
<div class="pricing-header">
<p class="price-value">$2</p>
 </div>
<div class="title">
<h3>Basic</h3>
</div>
<ul class="description">
<li>Maximum 3 house bookings.</li>
<li>Access to limited houses</li>
<li>For 1 semester</li>
<li>100% Secure!</li>
</ul>
<button class="btn btn-common">Purchase</button>
</div>
</div>
<div class="col-lg-4 col-md-6 col-xs-12">
<div class="table" id="active-tb">
<div class="icon">
<i class="lni-star"></i>
</div>
<div class="pricing-header">
<p class="price-value">$3</p>
</div>
<div class="title">
<h3>Standard</h3>
</div>
<ul class="description">
<li>Maximum 7 house bookings.</li>
<li>Access to unlimited houses</li>
<li>For 1 year</li>
<li>100% Secure!</li>
</ul>
<button class="btn btn-common">Purchase</button>
</div>
</div>
<div class="col-lg-4 col-md-6 col-xs-12">
<div class="table">
<div class="icon">
<i class="lni-star-filled"></i>
</div>
<div class="pricing-header">
<p class="price-value">$5</p>
</div>
<div class="title">
<h3>Premium</h3>
</div>
<ul class="description">
<li>Unlimited house bookings.</li>
<li>Access to unlimited houses</li>
<li>Valid till graduation</li>
<li>100% Secure!</li>
</ul>
<button class="btn btn-common">Purchase</button>
</div>
</div>
</div>
</div>
</section>


<section class="counter-section section-padding">
<div class="container">
<div class="row">

<div class="col-md-3 col-sm-6 work-counter-widget">
<div class="counter">
<div class="icon"><i class="lni-home"></i></div>
<h2 class="counterUp">45</h2>
<p>Houses Posted</p>
</div>
</div>

<div class="col-md-3 col-sm-6 work-counter-widget">
<div class="counter">
<div class="icon"><i class="lni-users"></i></div>
<h2 class="counterUp">64</h2>
<p>Members</p>
</div>
</div>

<div class="col-md-3 col-sm-6 work-counter-widget">
<div class="counter">
<div class="icon"><i class="lni-database"></i></div>
<h2 class="counterUp">130</h2>
<p>Bookings</p>
</div>
</div>

<div class="col-md-3 col-sm-6 work-counter-widget">
<div class="counter">
<div class="icon"><i class="lni-map"></i></div>
<h2 class="counterUp">8</h2>
<p>Locations</p>
</div>
</div>
</div>
</div>
</section>

{% comment %}
<section class="testimonial section-padding">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div id="testimonials" class="owl-carousel">
<div class="item">
<div class="img-thumb">
<img src="assets/img/testimonial/img1.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Josh Rossi</a></h2>
<h4><a href="#">CEO of Fiverr</a></h4>
</div>
</div>
</div>
</div>
<div class="item">
<div class="item">
<div class="img-thumb">
<img src="assets/img/testimonial/img2.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Jessica</a></h2>
<h4><a href="#">CEO of Dropbox</a></h4>
</div>
</div>
</div>
</div>
</div>
<div class="item">
<div class="item">
<div class="img-thumb">
<img src="assets/img/testimonial/img3.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Johnny Zeigler</a></h2>
<h4><a href="#">CEO of Fiverr</a></h4>
</div>
</div>
</div>
</div>
</div>
<div class="item">
<div class="item">
<div class="img-thumb">
<img src="assets/img/testimonial/img4.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Josh Rossi</a></h2>
<h4><a href="#">CEO of Fiverr</a></h4>
</div>
</div>
</div>
</div>
</div>
<div class="item">
<div class="item">
<div class="img-thumb">
<img src="assets/img/testimonial/img5.png" alt="">
</div>
<div class="testimonial-item">
<div class="content">
<p class="description">Eiusmod tempor incidiunt labore velit dolore magna aliqu sed eniminim veniam quis nostrud exercition eullamco laborisaa, Eiusmod tempor incidiunt labore velit dolore magna.</p>
<div class="info-text">
<h2><a href="#">Priyanka</a></h2>
<h4><a href="#">CEO of Dropbox</a></h4>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endcomment %}

<section class="subscribes section-padding">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="subscribes-inner">
<div class="icon">
<i class="lni-pointer"></i>
</div>
<div class="sub-text">
<h3>Subscribe to Newsletter</h3>
<p>and receive new ads in inbox</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<form>
 <div class="subscribe">
<input class="form-control" name="EMAIL" placeholder="Enter your Email" required="" type="email">
<button class="btn btn-common" type="submit">Subscribe</button>
</div>
</form>
</div>
</div>
</div>
</section>



{% endblock content %}