{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="page-header" style="background: url{assets/img/banner1.jpg);">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="breadcrumb-wrapper">
<h2 class="product-title">Details</h2>
<ol class="breadcrumb">
<li><a href="#">Home /</a></li>
<li class="current">Details</li>
</ol>
</div>
</div>
</div>
</div>
</div>


<div class="section-padding">
<div class="container">

<div class="product-info row">
<div class="col-lg-8 col-md-12 col-xs-12">
<div class="ads-details-wrapper">
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item">
<div class="product-img">
<img class="img-fluid" src="{{ object.front_image.url }}" alt="">
</div>
<span class="price">${{ object.rent }} pm</span>
</div>
<div class="item">
<div class="product-img">
<img class="img-fluid" src="{{ object.room1.url }}" alt="">
</div>
<span class="price">${{ object.rent }} pm</span>
</div>
<div class="item">
<div class="product-img">
<img class="img-fluid" src="{{ object.room2.url }}" alt="">
</div>
<span class="price">${{ object.rent }} pm</span>
</div>
</div>
</div>
<div class="details-box">
<div class="ads-details-info">
<h2>{{ object.address }}</h2>
<div class="details-meta">
<span><a href="#"><i class="lni-user"></i>Capacity : {{ object.capacity }}</a></span>
<span><a href="#"><i class="lni-map-marker"></i> {{ object.location }}</a></span>
<span><a href="#"><i class="lni-eye"></i> 299 bookings</a></span>
</div>
<p class="mb-4">{{ object.description }}</p>
<h4 class="title-small mb-3">Services offered</h4>
<ul class="list-specification">
<li><i class="lni-check-mark-circle"></i> Wifi</li>
<li><i class="lni-check-mark-circle"></i> Electricity</li>
<li><i class="lni-check-mark-circle"></i> Water</li>
<li><i class="lni-check-mark-circle"></i> Beds</li>
 <li><i class="lni-check-mark-circle"></i> Stoves</li>
 <li><i class="lni-check-mark-circle"></i> Fridge</li>
</ul>
</div>
<div class="tag-bottom">
<div class="float-left">
<ul class="advertisement">
<li>
<p><strong><i class="lni-map-marker"></i> Location:</strong> <a href="#">{{ object.location }}</a></p>
</li>
<li>
<p><strong><i class="lni-pin"></i> Distance From Campus:</strong> {{ object.distance_from_campus }} km</p>
</li>
<li>
<p><strong><i class="lni-user"></i> Gender Required:</strong> <a href="#">{{ object.gender_required }}</a></p>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-xs-12">

<aside class="details-sidebar">
<div class="widget">
<h4 class="widget-title">Landlord Details</h4>
<div class="agent-inner">
<div class="agent-title">
<div class="agent-photo">
<a href="#"><img src="{% static 'assets/img/user2.png' %}" alt=""></a>
</div>
<div class="agent-details">
<h3><a href="#">{{ object.landlord.landlordprofile.first_name }} {{ object.landlord.landlordprofile.last_name }}</a></h3>
<span><i class="lni-phone-handset"></i>{{ object.landlord.landlordprofile.cell }}</span>
</div>
</div>

<p>I'm interested in this house ({{ object.address }}) and I'd like to know more details.</p>
<a href="{{ object.get_book_house }}">
 <button class="btn btn-common fullwidth mt-4">Book Apartment</button>
</a>
</div>
</div>

<div class="widget">
<h4 class="widget-title">More houses in this area</h4>
<ul class="posts-list">
 {% for house in houses %}
<li>
<div class="widget-thumb">
<a href="#"><img src="{{ house.front_image.url }}" alt="" /></a>
</div>
<div class="widget-content">
<h4><a href="#">{{ house.address}}, {{ house.location }}</a></h4>
 <div class="meta-tag">
<span>
<a href="#"><i class="lni-user"></i>{{ house.landlord.landlordprofile.last_name }}</a>
</span>
<span>
<a href="#"><i class="lni-tag"></i>{{ house.gender_required }} Gender</a>
</span>
</div>
<h4 class="price">${{ house.rent }}</h4>
</div>
<div class="clearfix"></div>
</li>
 {% endfor %}
</ul>
</div>
</aside>

</div>
</div>

</div>
</div>


<section class="subscribes section-padding">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<div class="subscribes-inner">
<div class="icon">
<i class="lni-pointer"></i>
</div>
<div class="sub-text">
<h3>Subscribe to Newsletter</h3>
<p>and receive new ads in inbox</p>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<form>
<div class="subscribe">
<input class="form-control" name="EMAIL" placeholder="Enter your Email" required="" type="email">
<button class="btn btn-common" type="submit">Subscribe</button>
</div>
</form>
</div>
</div>
</div>
</section>


{% endblock content %}