{% load static %}
<header id="header-wrap">

<div class="top-bar">
<div class="container">
<div class="row">
<div class="col-lg-7 col-md-5 col-xs-12">

</div>
<div class="col-lg-5 col-md-7 col-xs-12">
<div class="roof-social float-right">
<a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
<a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
<a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
<a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a>
<a class="google" href="#"><i class="lni-google-plus"></i></a>
</div>
    {% if request.user.is_authenticated %}
    {% else %}
<div class="header-top-right float-right">
<a href="/accounts/login" class="header-top-button"><i class="lni-lock"></i> Log In</a> |
<a href="{% url 'students-signup' %}" class="header-top-button"><i class="lni-pencil"></i> Register</a>
</div>
</div>
    {% endif %}
</div>
</div>
</div>


<nav class="navbar navbar-expand-lg bg-white fixed-top scrolling-navbar">
<div class="container">

<div class="navbar-header">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
<span class="lni-menu"></span>
<span class="lni-menu"></span>
<span class="lni-menu"></span>
</button>
<a href="index-2.html" class="navbar-brand"><img src="assets/img/logo.png" alt=""></a>
</div>
<div class="collapse navbar-collapse" id="main-navbar">
<ul class="navbar-nav mr-auto w-100 justify-content-center">
<li class="nav-item {{ home }}">
<a class="nav-link" href="{% url 'core:home' %}">
Home
</a>
</li>
<li class="nav-item {{ list }}">
<a class="nav-link" href="{% url 'core:house-list' %}">
Listings
</a>
</li>

<li class="nav-item {{ contact }}">
<a class="nav-link" href="{% url 'core:contact' %}" >
Contact
</a>
</li>
    {% if request.user.is_student %}
<li class="nav-item {{ dash }} ">
<a class="nav-link" href="{% url 'students:student-bookings' %}" >
My Bookings
</a>
</li>
{% elif request.user.is_landlord %}
 <li class="nav-item {{ dash }} ">
<a class="nav-link" href="{% url 'landlords:bookings' %}" >
Bookings Received
</a>
</li>
{% else %}
    {% endif %}

</ul>
<div class="post-btn">
<a class="btn btn-common" href="post-ads.html"><i class="lni-pencil-alt"></i> Post an Ad</a>
</div>
</div>
</div>

<ul class="mobile-menu">
<li>
<a class="active" href="{% url 'core:home' %}">
Home
</a>
</li>
<li>
<a href="{% url 'core:house-list' %}">Listings</a>
</li>
<li>
<a href="{% url 'core:contact' %}">
Contact
</a>
</li>
<li>
<a href="#">Account</a>
<ul class="dropdown">
    {% if request.user.is_authenticated %}
<li><a href="#">Log Out</a></li>
    {% if request.user.is_student %}
<li><a href="{% url 'students:student-bookings' %}">My Bookings</a></li>
    {% elif request.user.is_landlord %}
    <li><a href="{% url 'students:student-bookings' %}">Bookings Received</a></li>
    {% else %}
    {% endif %}
    {% else %}
    <li><a href="{% url 'students-signup' %}">Sign Up</a></li>
    {% endif %}
</ul>
</li>
</ul>

</nav>

</header>