{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="page-header" style="background: url(assets/img/banner1.jpg);">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="breadcrumb-wrapper">
<h2 class="product-title">Dashbord</h2>
<ol class="breadcrumb">
<li><a href="#">Home /</a></li>
<li class="current">Dashboard</li>
</ol>
</div>
</div>
</div>
</div>
</div>


<div id="content" class="section-padding">
<div class="container">
<div class="row">
<div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
<aside>
<div class="sidebar-box">
<div class="user">
<figure>
<a href="#"><img src="{% static 'assets/img/user2.png' %}" alt=""></a>
</figure>
<div class="usercontent">
<h3>Hello {{ request.user.landlordprofile.first_name}} {{ request.user.landlordprofile.last_name}}</h3>
<h4>Landlord</h4>
</div>
</div>
<nav class="navdashboard">
<ul>
<li>
<a class="active" href="dashboard.html">
<i class="lni-dashboard"></i>
<span>Dashboard</span>
</a>
</li>
 <li>
<a href="#">
<i class="lni-enter"></i>
<span>Logout</span>
</a>
</li>
</ul>
</nav>
</div>
</aside>
</div>
<div class="col-sm-12 col-md-8 col-lg-9">
<div class="page-content">
<div class="inner-box">
<div class="dashboard-box">
<h2 class="dashbord-title">Bookings Received</h2>
</div>
<div class="dashboard-wrapper">
<div class="dashboard-sections">
<div class="row">
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
<div class="dashboardbox">
<div class="icon"><i class="lni-write"></i></div>
<div class="contentbox">
<h2><a href="#">Total Bookings </a></h2>
 {% if bookings|length > 0 %}
<h3>{{ bookings|length }}</h3>
 {% else %}
 <h3>No houses have been booked yet</h3>
 {% endif %}
</div>
</div>
</div>
</div>
</div>
</div>
<table class="table table-responsive dashboardtable tablemyads">
<thead>
<tr>
<th>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="checkedall">
<label class="custom-control-label" for="checkedall"></label>
</div>
</th>
<th>Name</th>
<th>Date</th>
<th>House</th>
<th>Duration</th>
 <th>Status</th>
<th>Action</th>
</tr>
</thead>
<tbody>
{% for booking in bookings %}
<tr data-category="active">
<td>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adone">
<label class="custom-control-label" for="adone"></label>
</div>
</td>
<td  data-title="Title">
 <h3>{{ booking.student.studentprofile.first_name }} {{ booking.student.studentprofile.last_name }}</h3>
</td>
<td data-title="Title">
<span>{{ booking.date }}</span>
</td>
<td data-title="Category"><span class="adcategories">{{ booking.house.address }}, {{ booking.house.location }}</span></td>
 <td data-title="Price">
<h3>{{ booking.duration }}</h3>
</td>
 {% if booking.has_payed %}
<td data-title="Ad Status"><span class="adstatus adstatusactive">Has Paid</span></td>
{% else %}
<td data-title="Ad Status"><span class="adstatus adstatusexpired">Not Paid</span></td>
 {% endif %}
<td data-title="Action">
<div class="btns-actions">
<a class="btn-action btn-edit" href="{{ booking.confirm_payment }}"><i class="lni-pencil"></i></a>
<a class="btn-action btn-delete" href="{{ booking.landlord_delete_booking }}"><i class="lni-trash"></i></a>
</div>
</td>
</tr>
{% endfor %}
{% comment %}
<tr data-category="sold">
<td>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adsix">
<label class="custom-control-label" for="adsix"></label>
</div>
</td>
<td class="photo"><img class="img-fluid" src="{% static 'assets/img/product/img6.jpg' %}" alt=""></td>
<td data-title="Title">
<h3>Apple MQDT2CL/A 10.5-Inch 64GB Wi-Fi iPad Pro</h3>
<span>Ad ID: ng3D5hAMHPajQrM</span>
</td>
<td data-title="Category">Apple iPad</td>
<td data-title="Ad Status"><span class="adstatus adstatussold">Sold</span></td>
<td data-title="Price">
<h3>$159</h3>
</td>
<td data-title="Action">
<div class="btns-actions">
<a class="btn-action btn-view" href="#"><i class="lni-eye"></i></a>
<a class="btn-action btn-delete" href="#"><i class="lni-trash"></i></a>
</div>
</td>
</tr>
<tr data-category="expired">
<td>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adnine">
<label class="custom-control-label" for="adnine"></label>
</div>
</td>
<td class="photo"><img class="img-fluid" src="{% static 'assets/img/product/img9.jpg' %}" alt=""></td>
<td data-title="Title">
<h3>Samsung Galaxy G550T On5 GSM Unlocked Smartphone</h3>
<span>Ad ID: ng3D5hAMHPajQrM</span>
</td>
<td data-title="Category">Mobile</td>
<td data-title="Ad Status"><span class="adstatus adstatusexpired">Expired</span></td>
<td data-title="Price">
<h3>$129</h3>
</td>
<td data-title="Action">
<div class="btns-actions">
<a class="btn-action btn-view" href="#"><i class="lni-eye"></i></a>
<a class="btn-action btn-edit" href="#"><i class="lni-pencil"></i></a>
<a class="btn-action btn-delete" href="#"><i class="lni-trash"></i></a>
</div>
</td>
</tr>
{% endcomment %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>



{% endblock content %}